/* PhotoFrame.css */

.photo-frame-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Set the height to the full viewport height */
  }
  
  .photo-frame {
    width: 100%;
    margin: 0 auto; /* Center the frame horizontally */
    max-width: 1300px; /* Adjust the maximum width as needed */
    max-height: 350px;
    overflow: hidden;
  }
  
  .photo-frame img {
    width: 100%;
    height: auto;
    transition: transform 0.8s ease-in-out;
  }
  
  .photo-frame img:hover {
    transform: translateX(-20px) scale(1.1);
  }

  .dummy-text {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Set the text color */
    font-size: 18px; /* Set the font size */
    text-align: center;
    /* Add more styling as needed */
  }
  
  @media only screen and (max-width: 768px) {
    .photo-frame {
      margin-left: 0; /* Remove left margin on smaller screens */
    }
  }
  