/* TopNavbar.css */

.top-navbar {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 10px;
    display: flex;
    border: 1px solid #ccc;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    font-size: 1.5rem;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
  }
  
  .search-bar input {
    margin-right: 10px;
    width: 600px; /* Adjust width to 100% for responsiveness */
    height: 30px;
    margin-top: 5px;
    padding: 8px;
    border: 1.3px solid #fff;
    border-radius: 24px;
  }
  
  .search-bar button {
    background-color: white;
    color: black;
    padding: 8px 12px;
    border: 1.5px solid black;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .search-bar button:hover {
    background-color: rgb(215, 233, 245);
  }
  
  .search-box {
    color: #ccc;
    font-size: 16px;
    position: relative;
  }

  .button-cont a {
    color: black;
    margin-right: 16px;
    text-decoration: none;
  }
  
  .button-cont a:hover {
    color: rgb(63, 166, 235);
    transform: translateX(5px) scale(1.2);
  }
  
  /* .button-cont button {
    background-color: white;
    color: #333;
    padding: 8px 12px;
    border: 1.3px solid black;
    border-radius: 15px;
    margin-right: 16px;
    margin-top: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button-cont button:hover {
    background-color: rgb(215, 233, 245);
    transform: translateX(5px) scale(1.1);
  } */

  .login-button{
    padding: 0.5rem 1rem;
    border: 2px solid #2980b9;
    color: #2980b9;
    border-radius: 1em;
    margin-left: 40px;
    cursor: pointer;
    background-color: white;
    transition: background-color 0.3s ease;
  }

  .login-button:hover {
    background-color: #293fb9;
    color: white;
  }

  .signup-button{
    padding: 0.5rem 1rem;
    border: 2px solid #2980b9;
    border-radius: 1em;
    margin-right: 40px;
    margin-left: 10px;
    cursor: pointer;
    color: white;
    background-color: #2980b9;
    transition: background-color 0.3s ease;
  }

  .signup-button:hover{
    background-color: #293fb9;
  }
  
  @media only screen and (max-width: 768px) {
    /* Adjust styles for smaller screens */
    .search-bar input {
      width: 100%;
      margin-right: 0;
    }
  
    .button-cont {
      margin-right: 0;
    }
  }
  